<h1>Pick the Articles to Show in the Slideshow</h1>
<%= semantic_form_for @slideshow do |f| %>
  <%= f.input :posts %>
  <%= f.actions do %>
    <%= f.submit %>
    <li class="cancel">
      <a href="/editor-panel">Cancel</a>
    </li>
  <%- end -%>
<%- end -%>