<section id="tileWrapper" class="tile-wrapper small-10 columns">
  <%- @issues.each_with_index do |issue, index| -%>
    <%= render issue, locals: {issue: issue, index: index} %>
  <%- end -%>
</section>


<%= will_paginate @issues %>