<h1>Verticals</h1>

<ul id="verticalList">
  <%- for vertical in @verticals do -%>
    <%= render 'vertical', vertical: vertical %>
  <%- end -%>
</ul>
<%= link_to "Create Vertical", new_vertical_path, id: "newVerticalLink", remote: true %>
