<h1>Verticals</h1>

<ul>
  <%- for vertical in @verticals do -%>
    <li><a href="#edit<%= vertical.id %>"><%= vertical.name %></a></li>
  <%- end -%>
</ul>
<%= link_to "Create Vertical", new_vertical_path, id: "newVerticalLink", remote: true %>
<a href="#create">Let's make a new one!!!</a>