<div id="logoutPrompt" class="desktop-only">
  <%= link_to "Logout", destroy_editor_session_path, method: :delete, class: 'header-logout header-links' %>
  <%= link_to "Panel", editor_panel_path %>
</div>
