<%-
  @verticals = verticals_list

  if @current_vertical.nil?
    @current_vertical = ''
  end
-%>

<nav id="header" class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name desktop-only">
      <h1><a href="/" class="desktop-only">The SAIS Europe Journal of Global Affairs</a></h1>
    </li>
    <li class="name mobile-only"><h1><a href="/" class="mobile-only">SEJGA</a></h1></li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li id="mobileMenuToggle" class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="/about">About</a>
        <ul class="dropdown">
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/call-for-submissions">Submit</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/most-recent">Most Recent</a></li>
      <li class="verticals large-only">
        <ul class="verticals-list large-only">
          <% for vertical in @verticals do %>
            <li class="vertical"><%= link_to vertical.name.titleize, controller: :posts, action: :vertical_sort, search: "#{@current_vertical} #{vertical.name.parameterize}", remote: true %></li>
          <% end %>
        </ul>
      </li>
      <li class="has-dropdown medium-down"><a>Sections</a>
        <ul class="dropdown">
          <% for vertical in @verticals do %>
            <li class="vertical"><a href="#"><%= vertical.name.titleize %></a></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </section>
</nav>
