<article id="about-page">
  <div class="piktowrapper-embed" pikto-uid="4555292-about-the-sais-europe-journal" >
    <div class="pikto-canvas-wrap">
        <div class="pikto-canvas"></div>
    </div>
</div>
<script>
    (function(d){
        var js, id="pikto-embed-js", ref=d.getElementsByTagName("script")[0];
        if (d.getElementById(id)) { return;}
        js=d.createElement("script"); js.id=id; js.async=true;
        js.src="https://magic.piktochart.com/assets/embedding/embed.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>
  <div class="article-content visually-hidden">
    <section>
      <h2>MISSION</h2>
      <p>The SAIS Europe Journal is a graduate student-run organization whose primary purpose is to publish peer-reviewed articles for policy makers, academics and professionals who are interested in the world's most pressing policy issues.</p>
    </section>
    <section>
      <h2>ABOUT</h2>
      <p>The SAIS Europe Journal is a global community, welcoming people across disciplines in the pursuit of deeper insight into policy making. We believe that deep policy insight comes from drawing upon multiple perspectives to a single challenge. With a student body in China, Europe and the United States, the SAIS community is built on a strong foundation of competing and intersecting perspectives. Motivated by its rich global history, the SAIS Europe Journal provides a specialized forum on issues of Security, Environment, Politics, Economics and Development. On saiseuropejournal.org, we're building an ever-evolving archive of knowledge from the world's most inspired professors, graduate students and policy makers. Aside from serving as an important forum on Global Affairs, the SAIS Europe Journal has two other goals. First, it is designed to be an effective research tool for practicing policy makers. Second, it provides policy makers, academics and graduate students opportunities for refining their work while also making important contributions.</p>
    </section>
    <section>
      <h2>Structure and Peer-Review Process</h2>
      <p>The SAIS Europe Journal is a student-run organization whoes primary purpose is to publish a journal of Global Affairs. Publications are posted online on a rolling base in anticipation of a yearly printed journal in April. The organization is independent of Johns Hopkins School of Advanced International Studies. Graduate student editors make all editorial decisions together with staff. All submissions are anonymized and then peer-reviewed by 2 cohorts of graduate students who then publish only the highest quality work.</p>
      <p>The Journal is published on a rolling basis. The views expressed herein are solely those of the authors and do not represent the opinions of the Journal Staff, nor of the School of Advanced International Studies. Authors are entrusted with the accuracy of the data contained within their submissions.</p>
      <p>The authors of the articles in this journal maintain the intellectual property rights of the contents. Anyone wishing to reproduce these articles must contact the individual authors to obtain their permission. Please contact editor@saisjournal.org for more information.</p>

      <p>The SAIS Bologna Center Journal of International Affairs was established by the studnets at the SAIS Bologna Center in 1997 to provide a forum for the discussion and dissemination of ideas about current issues in the field of international reations. The Journal aims to provide a afromal outlet for thought-provoking scholarship from students and faculty at the Bologna Center and other graduate institutions, and welcomes work from experts and practitioners.</p>

      <p>The Journal is published annually. The views expressed herein are solely those of the authors and do not represent the opinions of the Journal staff. Neither the Journal nor the Bologna Center and other graduate institutions, and welcomes work from experts and practitioners.</p>

      <p>The Journal is published annually. The views expressed herein are solely those of the authors and do not represent the opinions of the Journal staff. Neither the Journal nor the Bologna Center itself guarantee the accuracy of the data included in this publication and accept no responsibility for the consequences of its use.</p>
    </section>
    <section>
      <h3>Intellectual Property Rights</h3>
      <p>The authors of the articles in this journal maintain the intellectual property rights of the contents. Anyone wishing to reproduce these articles must contact the individual authors to obtain their permission. Please contact the SAIS Journal of Global Affairs for more information.</p>
    </section>
  </div>
</article>