<article id="contact">
  <div class="article-content">
    <h1>Contact</h1>

    <h3>To Contact Us About Submissions:</h3>
    <p>Please send an email to <a href="mailto:submissions@saisjournal.org">submissions@saisjournal.org</a></p>

    <h3>To Contact Us About Marketing:</h3>
    <p>Please send an email to <a href="mailto:marketing@saisjournal.org">marketing@saisjournal.org</a></p>

    <h3>To Contact Us About Our Website:</h3>
    <p>Please send an email to <a href="mailto:webmaster@saisjournal.org">webmaster@saisjournal.org</a></p>

    <h3>To Contact Us About Matters of Business:</h3>
    <p>Please send an email to <a href="mailto:business@saisjournal.org">business@saisjournal.org</a></p>

    <h3>For All Other Inqueries:</h3>
    <p>Please send an email to <a href="mailto:editor@saisjournal.org">editor@saisjournal.org</a></p>
  </div>
</article>