<article id="openAccess">
  <section>
    <h1><strong>Open Access Statement – Please Read</strong></h1>
    <p>This Journal is Open Access. This work is not simply an electronic book; it is the open access version of a work that exists in a number of forms, the traditional printed form being one of them.</p>
  </section>
  <section>
    <h2>Copyright Notice</h2>
    <p>This work is ‘Open Access,’ published under a creative commons license which means that you are free to copy, distribute, display, and perform the work as long as you clearly attribute the work to the authors, that you do not use this work for any commercial gain in any form and that you in no way alter, transform or build on the work outside of its use in normal academic scholarship without express permission of the author and the SAIS Europe Journal of Global Affairs. Furthermore, for any reuse or distribution, you must make clear to others the license terms of this work.</p>
  </section>
</article>