<section class="splash-page">
    <span class="sais-logo"></span>

    <div class="splash-text">
      <h1>New website for the SAIS Europe Journal of Global Affairs still under construction.</h1>
      <h3>For the time being, please visit our previous website at <a targe="_blank" href="http://www.bcjournal.org">www.bcjournal.org</a></h3>
      <div class="or">or</div>
      <p>Click <%= link_to 'here', new_subscriber_registration_path %> to sign up for email notifications.</p>
    </div>
</section>