<section id="editor-options">
  <h1>Here's what you can do</h1>
  <ul class="button-group round">
    <li><%= link_to 'Manage Posts', manage_posts_path, class: 'button' %></li>
    <li><%= link_to 'Add an Editor', new_editor_path, class: 'button success' %></li>
    <li><%= link_to 'Delet an Editor', editors_path, class: 'button alert' %></li>
    <li><%= link_to 'Edit Slideshow', edit_slideshow_path, class: 'button' %></li>
  </ul>
</section>