<%= render partial: 'home_header' %>
<section class="tile-wrapper small-10 columns">
  <%= render @posts %>
</section>

<section class="right-side small-2 columns desktop-only">
  <div>
    <ul class="constant-links">
      <li>
        <a href="/call-for-submissions"><%= image_tag('logo.png') %><span>The SAIS Europe Journal of Global Affairs is <em>now accepting</em> submissions.</span></a>
      </li>
    </ul>
  </div>
</section>

<%= will_paginate @posts %>