<%= render partial: 'home_header' %>
<section class="tile-wrapper small-10 columns">
  <%= render @posts %>
</section>

<section class="right-side small-2 columns">
  <div>
    <p>Put Constant stuff here!</p>
  </div>
</section>

<%= will_paginate @posts %>