<div>
  <ul>
    <li><a href="/posts/new/scholarly-research">Create a Scholarly Article</a></li>
    <li><a href="/posts/new/interview">Create an Interview</a></li>
    <li><a href="/posts/new/commentary">Create a Commentary</a></li>
  </ul>
</div>