#logoutPrompt {
  height: 8rem;
  width: 8rem;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
  a {
    line-height: 4rem;
    width: 8rem;
    height: 4rem;
  }
}

.editor-tools {
  position: fixed;
  top: 4.5rem;
  right: 0;
  width: 5rem;
  text-align: center;
  background-color: rgba(0,0,0,0.75);
}

.filters {
  position: fixed;
  right: 0;
}

.pagination {
  float: left;
}

.list-of-posts {
  li.row:last-child {
    float: left !important;
  }
}

.post-tools {
  li {
    min-width: 15rem;

    a {
      width: 100%;
    }
  }
}

body.editors .pagination {
  position: absolute;
  bottom: 0;
  visibility: visible;
}

.manage_posts {
  .tools {
    margin-top: 1rem;
  }

  .post-title {
    text-align: center;

    .button-group{
      margin: 0 auto;
      display: inline-block;

      .button {
        font-size: 1.4rem;
        padding: 2rem 1rem;
      }
    }
  }

  .filters {
    span {
      font-size: 2rem;
    }

    .filter .current {
      color: #000;

      &.asc:after {
        content: '\2191';
      }

      &.desc:after {
        content: '\2193';
      }
    }
  }
}