$facebook-blue: #3b5998;
$facebook-hover: darken($facebook-blue, 10%);
$twitter-blue: #4099FF;
$twitter-hover: darken($twitter-blue, 10%);
$main-color: $topbar-bg-color;
$gray: #868181;
$book-review-color: #9D001B;

.page-wrap {
  width: 100%;
  float: right;
}

html {
  font-size: 62.5%;

  body,
  p {
    font-size: 1.6rem;
  }

  footer {
    float: left;
    height: 5rem;
    width: 100%;
    background-color: $main-color;
    color: #fff;
    margin-top: 1rem;

    div {
      line-height: 5rem;

      .si {
        bottom: .1rem;
      }

      .gn {
        top: .1rem;
      }

      .si,
      .gn {
        position: relative;
      }
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.pagination {
  visibility: hidden;
}

a:hover,
a:active {
  // color: #2233BF !important;
}

.content-container {
  min-height: 100rem;
}

.inline {
  display: inline;
}

.right {
  float: right;
}

hr {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

@media only screen and (max-width: #{lower-bound($medium-range)}) {
  .desktop-only {
    display: none !important;
  }
}

.large-only {
  display: none;
}

@media #{$large-up} {
  .large-only {
    display: block;
  }

  .medium-down {
    display: none;
  }
}


@media only screen and (min-width: 769px) and (max-width: 1000px) {
  #content {
    padding: 0;
  }


}

@media #{$medium-up} {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none !important;
  }
}

li {
  list-style: none;
  font-size: 1.6rem;
}

// override for article lis
article ul li {
  list-style: circle;
}

// article ol li {
//   list-style: upper-roman;
// }

article ul,
article ol {
  margin-left: 5rem;
}

a {
  font-size: 1.6rem;
}

.visibly-hidden {
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.hide {
  display: none;
}

.print-only {
  display: none;
}

.delete {
  color: #C70D0D;
}

//like button on homepage
.fb-like {
  top: 10px;
  margin: 0;
  height: 25px;
  overflow: hidden;
}

#twitter-widget-0 {
  position: absolute;
  top: 1.5rem;
  right: 12rem;
  width: 13rem !important;
}