#header {
  height: 10rem;
  z-index: 99999;
  // For chrome blinking shiz
  -webkit-transform: translate3d(0,0,0);

  .logo-big {
    img {
      height: 10rem;
    }
  }

  .search-button {
    &:after {
      display: none !important;
    }
  }

  .search-form {
    min-width: 50rem;
    min-height: 10rem;

    input[type=text] {
      width: 100%;
      height: 10rem;
      top: 0;
      font-size: 4rem;
    }

    input[type=submit] {
      @extend .visually-hidden;
    }
  }

  .logo-half {
    display: none;

    img {
      height: 4.5rem;
    }
  }

  .top-bar-section {
    margin: 5rem 0 0 40rem;
  }

  .about-button {
    padding-left: 3.5rem;
  }

  .social {
    width: 10rem;
    height: 4.5rem;
    background-color: $main-color;
  }

  .social-list {
    position: absolute;
    right: 0;
    top: -50px;
  }
}

.verticals {
  span {
    display: none;
  }
}

.vertical-link {
  .active-link {
    background-color: #555555;
    background: #272727;
  }
}

.sticky {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;

  & + #content {
    margin-top: 4.5rem;
  }
}

#header.sticky {
  height: 4.5rem;

  .logo-big {
    display: none;
  }

  .logo-half {
    display: inline-block;
  }

  .top-bar-section {
    margin: 0;
  }
}
