#header {
  height: 10rem;

  .logo-image {
    img {
      height: 10rem;
    }
  }
}

.verticals {
  span {
    display: none;
  }
}

.vertical-link {
  .active-link {
    background-color: #555555;
    background: #272727;
  }
}

.sticky {
  position: fixed;
  height: 4.5rem;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;

  & + #content {
    margin-top: 4.5rem;
  }
}
