.verticals {
  span {
    display: none;
  }
}

// @media only screen and (max-width: 1000px) {
//   .verticals {
//     min-width:10rem;
//     min-height: 4.5rem;
//     display: inline-block;

//     span {
//       display: inline-block;
//       line-height: 4.5rem;
//       color: #fff;
//     }

//     .verticals-list {
//       display: none;
//     }

//     &:hover {
//       .verticals-list {
//         display: inline-block !important;
//       }
//     }
//   }
// }

.sticky {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;

  & + #content {
    margin-top: 4.5rem;
  }
}
