// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#preContainer {
  .logo,
  .title {
    display: table;
    text-align: center;

    h1 {
      display: table-cell;
      vertical-align: middle;
    }

    img {
      max-height: 10rem;
    }
  }

  .title-area {
    max-width: 100%;
  }

  hr {
    margin: 3px 0;
  }
}

.fb_iframe_widget {
  position: absolute !important;
  bottom: 0;
  margin-right: 5rem;
}

.slideshow {
  overflow: hidden;
  min-height: 40rem;

  img {
    margin: 0 auto;
  }

  #prevArrow {
    float: left;
  }

  #nextArrow {
    float: right;
    right: 0;
  }

  #prevArrow,
  #nextArrow {
    top: 0;
    font-size: 7.5rem;
    font-family: 'fontello';
    line-height: 3.05rem;
    position: absolute;
    cursor: pointer;
    display: table;
    @include transition(background-color, 250ms, ease-in-out);

    &:before {
      display: table-cell;
      vertical-align: middle;
    }

    &:hover {
      color: $oil;
      background-color: rgba(0,0,0,0.5);
    }
  }

  .caption {
    top: -7rem;
    position: relative;
    margin-left: 5rem;
    @include transition(top, 250ms, ease-in-out);

    h1 {
      color: #000000;
      display: inline;
      background-color: rgba(255, 255, 255, 0.25);
      padding: 0 1rem;
    }

    p {
      color: #fff;
    }
  }

  .slide-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 40rem;
    display: inline-block;
    width: 100%;
  }
}

.overlay {
  @include opacity(0);
  @include transition(opacity, 250ms, ease-in-out);
  width: 100%;
  padding-bottom: 30%;
  display: inline-block;
  position: absolute;
  background-color: rgba(0,0,0,.75);
}

.slick-slide {
  max-height: 40rem;
}

.slick-slide:hover {
  .caption {
    top: -15rem;
    @include transition(top, 250ms, ease-in-out);

    h1 {
      color: #fff;
      @include transition(color, 250ms, ease-in-out);
    }
  }



  .overlay {
    @include opacity(1);
  }
}

.slick-slider {
  margin-bottom: 0 !important;
}

#twitter-widget-0 {
  position: absolute;
  bottom: 4.5rem;
}