// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.issues {
  .content-container {
    padding: 0;
  }

  article {
    max-width: 60rem;
    margin: 0 auto;
  }

  .tile-image {
    background-size: contain;
    max-width: 27rem;
    margin-left: 12rem;
    border: 1px solid lightslategray;
  }

  .tile-large.inverted {
    .tile-image {
      margin-left: 46rem;
    }
  }
}