.modal {
  position: fixed;
  top: -9999px;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-height: 10rem;
  min-width: 10rem;
  max-width: 30rem;
  max-height: 30rem;
  background-color: #fff;
}

#cite:target {
  top: 50%;

}