// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contact {
  .article-content {
    h1,
    h3 {
      font-family: roboto;
    }
  }
}

#about-page {
  text-align: center;

  .piktowrapper-embed {
    margin: 0 auto;
  }
}

#openAccess {
  h1 {
    font-size: 4.2rem;
    color: red;
  }

  h2 {
    font-size: 3.2rem;
  }
}