// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#img_preview {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 24%;
  display: inline-block;
  width: 100%;
}

.archive-tag {
  position: fixed;
  background-color: white;
  width: 100%;
  text-align: center;
  font-family: Old Standard TT;
}

article {
  .title-area {
    text-align: center;
    min-height: 45rem;
    display: table;

    .title {
      display: table-cell;
      vertical-align: middle;
      background-color: rgba(0,0,0,0.5);

      h1, h2, h5 {
        color: #fff;
      }
    }
  }
  h1,
  h2,
  h3,
  h5 {
    font-family: 'Old Standard TT', serif;
  }

  h1 {
    font-weight: bold;
    font-size: 8.5rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  h5 {
    font-style: italic;
    text-transform: uppercase;
  }

  .cover-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-color: $main-color;
  }

  p {
    overflow-wrap: break-word;
  }

  .photo-credit {
    position: absolute;
    right: 2rem;
    margin-top: -4.8rem;

    a {
      color: $jet;
      font-size: 1rem;
      text-decoration: underline;

      &:hover,
      &:active {
        color: #000;
      }
    }
  }

  .abstract {
    p {
      border-left: 1px solid;
      padding: 0 10rem 0 5rem;
      margin-left: 5rem;
      font-style: italic;
      color: $gray;
    }
  }
}

body.posts.show {
  main.content-container {
    padding: 0;
  }

  .article-content {
    padding: 1rem 20rem 0;
  }
}

.author-bio {
  color: gray;
  font-style: italic;
  padding: 0 10rem;
  text-align: center;
}

.section-navigator {
  display: inline-block;
  position: fixed;
  right: 1.2rem;
  top: 20%;
  text-align: center;
  max-width: 18rem;
  @include opacity(0);
  visibility: hidden;
  @include transition(
    opacity 250ms ease-in-out,
    visibility 0ms ease-in-out
  );

  &.shown {
    @include opacity(1);
    visibility: visible;
  }

  .highlighted a{
    color: #000 !important;
    font-weight: bold;

    &:before {
      content: '\e802';
      font-family: 'fontello';
      left: -1rem;
      position: relative;
    }
  }
}

#nanobar {
  top: 4.5rem !important;

  body.no-nav & {
    top: 0 !important;
  }
}

@media #{$small-only} {
  body.posts.show .article-content {
    padding: 1rem;
  }

  .article-content .abstract p {
    padding: 0 0.5rem 0 0.25rem;
    margin-left: 1rem;
  }

  .sticky-social {
    width: 100%;
    position: fixed;
    bottom: 0;
    top: auto;
    max-height: 5rem;

    .social-list {
      display: inline-block;
      width: 100%;
      margin: 0;

      .social-item {
        display: inline;
        height: 5rem;
        width: 50%;
        text-align: center;

        a {
          color: #fff;
          font-size: 2.4rem;
          line-height: 5rem;
        }

        &.facebook {
          background-color: $facebook-blue;
          float: left;
        }

        &.twitter {
          background-color: $twitter-blue;
          float: right;
        }

        &.easy-bib {
          display: none;
        }
      }
    }
  }
}

@media #{$medium-up} {
  .sticky-social {
    display: inline-block;
    max-width: 11rem;

    &.sticky {
      top: 4.5rem;

      .social-list {
        margin: 0;
      }
    }

    .social-list {
      .social-item {
        list-style: none;
        height: 4rem;
        padding: 0 1rem;
        line-height: 4rem;
        width: 11rem;
        cursor: pointer;

        a {
          color: $white;
        }


        &.facebook {
          background-color: $facebook-blue;

          &:hover {
            background-color: $facebook-hover;
          }
        }

        &.twitter {
          background-color: $twitter-blue;

          &:hover {
            background-color: $twitter-hover;
          }
        }
      }
    }
  }
}

.tile-wrapper {
  .abstract-lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    opacity: 0;

    &.shown {
      z-index: 99999;
      opacity: 1;
      @include transition(opacity 300ms ease-in-out);
    }
  }

  .abstract-content {
    max-width: 50rem;
    max-height: 40rem;
    margin: 0 auto;
    background: white;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    left: 0;

    .close {
      position: absolute;
      left: 1rem;
      font-weight: bold;
      cursor: pointer;
      color: $gray;

      &:hover,
      &:active {
        color: #000;
      }
    }

    p {
      margin: 2rem;
      max-width: 46rem;
      max-height: 36rem;
      overflow-y: scroll;
    }
  }

  .first-three {
    height: 30rem;
    width: 100%;
    display: inline;

    .top-tile:nth-child(2) {
      margin: 3rem 7% 1rem;
    }

    .top-tile {
      width: 26rem;
      height: 43rem;

      .tile-image {
        width: 100%;
        max-height: 20rem;
      }

      .overlay {
        max-height: 20rem;
      }

      .caption {
        height: 23rem;
        margin-top: 20rem;

        h2 {
          font-size: 1.8rem;
        }
        h3 {
          font-size: 1.6rem;
        }
        h4 {
          font-size: 1.4rem;
        }
      }
    }
  }
}