// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#img_preview {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 24%;
  display: inline-block;
  width: 100%;
}

.archive-tag {
  position: fixed;
  background-color: white;
  width: 100%;
  text-align: center;
  font-family: Old Standard TT;
}

.tile {
  margin: 1rem 0;

  .tile-image {
    width: 100%;
    position: absolute;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .title {
    position: absolute;
    padding: 0.5rem;
  }

  .caption {
    text-align: justify;
  }
}

@media #{$medium-up} {

  .tile-wrapper {
    padding: 1rem 0;

    .tile {
      float: left;
      display: inline-block;
      width: 24rem;
      height: 20rem;
      margin: 1rem;
      min-height: auto;

      .tile-image {
        width: inherit;
        height: inherit;
      }

      .caption span {
        color: #000;
      }
    }

    .tile-large {
      height: 42rem;
      width: 74rem;

      .title {
        max-width: 50rem;
      }

      .tile-image {
        max-width: 50rem;
      }
    }

    .tile-tall {
      height: 42rem;
      width: 50rem;

      .overlay {
        max-width: 24rem;
      }

      .tile-image {
        max-width: 24rem;
      }

      .caption {
        position: relative;
        margin-left: 24rem;
        width: 24rem;
        height: 42rem;
      }

      h2 {
        max-width: 24rem;
        font-size: 2.6rem;
      }

      h3 {
        max-width: 24rem;
        font-size: 2.2rem;
      }
    }

    .tile-wide {
      width: 50rem;
      height: 42rem;

      .overlay {
        max-height: 20rem;
      }

      .tile-image {
        max-height: 20rem;
      }

      .caption {
        margin-top: 20rem;
        position: relative;
        height: 20rem;
        width: 50rem;
      }

      h2 {
        font-size: 2.6rem;
        max-width: 50rem;
      }

      h3 {
        font-size: 2.2rem;
        max-width: 50rem;
      }
    }

    .tile-small {
      height: 42rem;

      .tile-image {
        max-height: 20rem;
      }

      .overlay {
        max-height: 20rem;
      }

      .caption {
        position: relative;
        top: 0;
        width: 24rem;
        height: 24rem;
        margin-top: 20rem;

        span {
          font-size: 1.4rem;
        }
      }

      .title {
        max-width: 24rem;

        h2 {
          font-size: 2.4rem;
        }

        h3 {
          font-size: 1.8rem;
        }

        h4 {
          font-size: 1.4rem;
        }
      }
    }

    .tile-large {
      .caption {
        top: 0;
        position: relative;
        width: 24rem;
        height: 42rem;
        color: blue;
        margin-left: 50rem;
        z-index: -1;
      }

      .overlay {
        max-width: 50rem;
      }

      h2 {
        max-width: 50rem;
      }

      h3 {
        max-width: 50rem;
      }
    }

    .title {
      position: static;
    }

    a {
      width: inherit;
      height: inherit;
      display: inline-block;
    }

    .overlay {
      @include opacity(0);
      background-color: rgba(0,0,0,0.25);
      width: inherit;
      height: inherit;
      display: inline-block;
      position: absolute;
      padding: 0;
      @include transition(opacity, 250ms, ease-in-out);
    }

    .tile:hover,
    .tile:active {
      .overlay {
        @include opacity(1);
      }

      .caption {
        background-color: lighten($main-color, 50%);
      }

      .title{
        h2,
        h3,
        h4 {
          color: #fff;
        }
      }
    }

    .caption {
      padding: 1rem;
      position: absolute;
      bottom: 0;

      span {
        color: #fff;
      }
    }

    .title {
      display: block;
      position: absolute;

      h2 {
        color: #000;
        @include transition(color, 250ms, ease-in-out);
      }
    }
  }
}

.right-side {
  height: 40rem;

  &.sticky {
    position: fixed;
    top: 4.5rem;
    right: 0;
    left: auto;
  }
}

article {
  .title-area {
    text-align: center;
    min-height: 40rem;
    display: table;

    .title {
      display: table-cell;
      vertical-align: middle;
      background-color: rgba(0,0,0,0.5);

      h1, h2, h5 {
        color: #fff;
      }
    }
  }
  h1,
  h2,
  h3,
  h5 {
    font-family: 'Old Standard TT', serif;
  }

  h1 {
    font-weight: bold;
    font-size: 8.5rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  h5 {
    font-style: italic;
    text-transform: uppercase;
  }

  .cover-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-color: $main-color;
  }

  p {
    overflow-wrap: break-word;
  }
}

body.posts.show {
  main.content-container {
    padding: 0;
  }

  .article-content {
    padding: 1rem 20rem 0;
  }
}

.author-bio {
  color: gray;
  font-style: italic;
  padding: 0 10rem;
  text-align: center;
}

.section-navigator {
  display: inline-block;
  position: fixed;
  right: 1.2rem;
  top: 20%;
  text-align: center;
  max-width: 18rem;
  @include opacity(0);
  @include transition(opacity 250ms ease-in-out);

  &.shown {
    @include opacity(1);
  }

  .highlighted a{
    color: #000 !important;
    font-weight: bold;

    &:before {
      content: '\e802';
      font-family: 'fontello';
      left: -1rem;
      position: relative;
    }
  }
}

#nanobar {
  top: 4.5rem !important;

  body.no-nav & {
    top: 0 !important;
  }
}


@media only screen and (max-width: #{upper-bound($small-range)}) {
  .tile-wrapper {
    width: 100%;
    padding: 0;

    .tile {
      min-height: 23rem;

      .tile-image {
        padding-bottom: 79%;
      }
    }

    .title {
      background-color: rgba(0,0,0,0.75);
      width: 100%;

      h2 {
        color: #fff;
      }
    }
  }

  body.posts.show .content-container .article-content {
    padding: 1.5rem;
  }

  article {
    h1 {
      font-weight: bold;
      font-size: 3.5rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }
}

@media #{$medium-only} {
  .tile-wrapper{
    width: 100%;

    .tile-large {
      height: 25.2rem;
      width: 44.4rem;

      .title {
        max-width: 30rem;
      }

      .tile-image {
        max-width: 30rem;
      }

      .caption {
        width: 14.4rem;
        height: 25.2rem;
        margin-left: 30rem;
      }
    }

    .tile-wide {
      height: 25.2rem;
      width: 44.4rem;

      .title {
        max-width: 30rem;
      }

      .tile-image {
        max-height: 12rem;
      }
    }

    .tile-tall {

    }

    .tile-small {
      width: 25.2rem;
      height: 25.2rem;

      .title {
        max-width: 25.2rem;
        padding-top: 0;

        h2 {
          font-size: 1.8rem;
        }

        h3 {
          font-size: 1.6rem;
        }

        h4 {
          font-size: 1.2rem;
        }
      }

      .tile-image {
        max-height: 12rem;
      }

      .caption {
        width: 25.2rem;
        height: 13.4rem;
        margin-top: 12rem;
        padding: 0.1rem 0.5rem;
        line-height: 2rem;

        span {
          font-size: 1.2rem;
          max-height: 14.4rem;
          overflow: hidden;
        }
      }
    }
  }
}

.sticky-social {
  display: inline-block;

  // TEMPORARY
  display: none !important;
  // TEMPORARY

  .social-list {
    .social-item {
      list-style: none;
      height: 4rem;
      padding: 0 1rem;
      line-height: 4rem;
      width: 11rem;
      cursor: pointer;

      a {
        color: $white;
      }


      &.facebook {
        background-color: $facebook-blue;

        &:hover {
          background-color: $facebook-hover;
        }
      }
    }
  }
}