.splash-page {
  height: 100%;
  padding-top: 1rem;

  .sais-logo {
    background-image:url('sais_thumb.jpg');
    width: 80%;
    height: 35%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
  }

  .splash-text {
    text-align: center;
  }
}

body.splash {
  #content {
    min-height: 0;
    height: 100%;
    border: 1.5rem solid $topbar-bg-color;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }
}

@media #{$large-up} {
  .splash-page {
    .sais-logo {
      height: 45%;
      margin-bottom: 2rem;
    }

    .splash-text {
      h1 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 2.2rem;
      }
    }
  }
}