.tile-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// mobile styles
@media #{$small-only} {
  #tileWrapper {
    width: 100%;
    padding: 0;
  }

  .tile {
    width: 100%;
    position: relative;
    max-height: 25rem;
    min-height: 23rem;

    a {
      height: 100%;
      width: 100%;
      position: absolute;

      .caption {
        height: 100%;
      }
    }

    .tile-image {
      width: 100%;
      max-height: 25rem;
      position: absolute;
      padding-bottom: 79%;
    }

    .caption {
      position: relative;
      background-color: rgba(0,0,0,.5);

      h2,
      h3,
      h4 {
        color: #fff;
      }
    }
  }
}

// Everywhere else
@media #{$medium-up} {
  #tileWrapper {
    width: 90rem;
    float: none;
    margin: 0 auto;
  }

  .tile {
    width: 25rem;
    height: 37.5rem;
    display: inline-block;
    margin: 3rem 5rem 0 0;
    float: left;
    position: relative;

    &.row-end {
      margin-right: 0;
    }

    .tile-image {
      width: 25rem;
      height: 16.66666667rem;
      position: absolute;
    }

    .caption {
      position: absolute;
      margin-top: 16.666666667rem;
      height: 25rem;
      width: 25rem;

      h2 {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0;
      }

      h3 {
        font-size: 1.4rem;
        font-style: italic;
        margin: 0;
      }

      h4 {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 0;
      }

      span {
        color: $jet;
        font-size: 1.2rem;
      }
    }

    .abstract-link {
      display: inline;
      position: absolute;
      font-size: 1rem;
      bottom: 0;
      right: 0;
      cursor: pointer;
      color: #fff;
      background-color: $main-color;
      padding: 0.5rem;
      text-transform: uppercase;

      &:hover,
      &:active {
        background-color: darken($main-color, 10%);
        color: darken(#fff, 10%);
      }
    }

    .book-review {
      @extend .abstract-link;

      background-color: $book-review-color;

      &:hover,
      &:active {
        background-color: $book-review-color;
        color: #fff;
      }
    }

    .interview {
      @extend .abstract-link;

      background-color: $interview-color;

      &:hover,
      &:active {
        background-color: $interview-color;
        color: #fff;
      }
    }

    .commentary {
      @extend .abstract-link;

      background-color: $commentary-color;

      &:hover,
      &:active {
        background-color: $commentary-color;
        color: #fff;
      }
    }

    .overlay {
      width: 25rem;
      height: 16.666667rem;
      @include opacity(0);
      background-color: rgba(0,0,0,0.25);
      display: inline-block;
      position: absolute;
      @include transition(opacity, 250ms, ease-in-out);
    }

    &:hover,
    &:active {
      background-color: rgba(120, 169, 253, 0.25);

      .overlay {
        @include opacity(1);
      }
    }

    .date {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: .5rem;
      color: $jet;
    }
  }

  .tile-large {
    width: 85rem;

    .tile-image {
      width: 51rem;
      height: 37.5rem;
    }

    .caption {
      width: 34rem;
      height: 37.5rem;
      margin-top: 0;
      margin-left: 51rem;
      padding: 1rem;

      h2 {
        font-size: 2.6rem;
      }

      h3 {
        font-size: 2rem;
      }

      h4 {
        font-size: 1.8rem;
      }

      span {
        font-size: 1.6rem;
      }
    }

    .overlay {
      width: 51rem;
      height: 37.5rem;
    }

    .date {
      left: 51rem;
    }

  }

  .tile-large.inverted {
    .tile-image,
    .overlay {
      margin-left: 34rem;
    }

    .caption {
      margin: 0;
    }

    .abstract-link,
    .book-reivew,
    .commentary,
    .interview {
      right: 51rem;
    }

    .date {
      left: 0;
    }
  }
}

.right-side {
  position: absolute;
  right: 0;
  padding: 0;

  .constant-links {
    margin: 0;
    width: 100%;

    li {
      padding: 1rem;
      cursor: pointer;

      span {
        color: #000;
        width: 100%;
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 20rem;
      }

      &:hover,
      &:active {
        background-color: lighten($main-color, 50%);

        span {
          color: #fff;
        }
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 4.5rem;
    right: 0;
    left: auto;
  }
}