html {
  font-size: 62.5%;

  body,
  p {
    font-size: 1.6rem;
  }
}

a:hover,
a:active {
  // color: #2233BF !important;
}

.content-container {
  min-height: 100rem;
}

.inline {
  display: inline;
}

.right {
  float: right;
}

hr {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

.desktop-only {
  display: none;
}

@media #{$large-up} {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}

li {
  list-style: none;
}