a:hover,
a:active {
  // color: #2233BF !important;
}

.content-container {
  min-height: 1000px;
}

.inline {
  display: inline;
}

.desktop-only {
  display: none;
}

@media #{$large-up} {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}