.headroom {
  @include transition (transform 200ms ease-in-out);
}
.headroom--pinned {
  @include transform(translateY(0%));
}
.headroom--unpinned {
  @include transform(translateY(-100%));
}

.headroom--pinned {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

.sticky {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

#preContainer {
  min-height: 150px;
}

.fb-like {
  line-height: 150px;
  margin-right: 50px;
}
