#preContainer {
  .logo,
  .title {
    display: inline-block;
  }
}

.fb-like {
  line-height: 150px;
  margin-right: 50px;
}

.slideshow {
  img {
    margin: 0 auto;
  }

  #prevArrow {
    float: left;
  }

  #nextArrow {
    float: right;
    right: 0;
  }

  #prevArrow,
  #nextArrow {
    top: 0;
    font-size: 5rem;
    font-family: 'fontello';
    line-height: 305px;
    position: absolute;
    cursor: pointer;

    &:hover {
      color: $oil;
    }
  }
}