<footer>
  <div>
    <span>Site De<span class="si">si</span><span class="gn">gn</span>ed by <a href="http://www.someother.website" target="_blank">Jay Gandhi</a></span>
    <span class="right">ISSN 1592-3444</span>
    <span class="right copyright">© 2015 The SAIS Europe Journal of Global Affairs</span>
  </div>
</footer>